<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-2" ng-repeat='col in collection.collections'>
                <div class="thumbnail">
                    <img src="{{col.volumeInfo.imageLinks.thumbnail}}">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><button class="btn btn-primary" role="button" ng-click="collection.addMessage()">Detalle</button>
                            <button class="btn btn-primary" role="button" ng-click="collection.deleteCollections(col)">Eliminar</button>
                            <button class="btn btn-primary" role="button" ng-click="collection.recharge()">recarga</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>