<md-card>
  <md-card-title layout="row" layout-align="center">
    <md-card-title-text>
      <span class="md-headline md-block">Find a book</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Search for a book</label>
      <input ng-model="search.bookTitle" ng-change="search.searchBook()">
    </md-input-container>
  </md-card-content>
</md-card>

<md-content class="md-padding">
  <div layout="column" layout-gt-xs="row" layout-align="center">
    <md-card flex flex-gt-xs="30" ng-repeat="res in search.collections">
      <img src="{{res.volumeInfo.imageLinks.thumbnail}}" class="md-card-image" alt="image caption">
      <md-card-content>
        <h4>{{res.volumeInfo.title}}</h4>
        <p>{{res.volumeInfo.description}}</p>
      </md-card-content>
      <md-card-footer>
          Writen by:        
        <p ng-if="res.volumeInfo.authors" ng-repeat="author in res.volumeInfo.authors"> {{author}} </p>
        <p ng-if="!res.volumeInfo.authors">Author Unknow</p>
      </md-card-footer>
    </md-card>
  </div>
</md-content>